/* Mui <Box> CSS */

/* -------------- Pages -------------- */
.sign_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign_title_box{
    margin-top: 8px;
    width: 30vw;
    min-width: 220px;
}

.sign_form_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 8px;
    width: 30vw;
    min-width: 220px;
}

/* -------------- Board -------------- */
.board_area {
    margin-top: 50px;
}

.select_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 8px;
}

.select_year_group {
    margin-right: 16px;
}

.card_box {
    display: flex;
    align-items: center;
    margin-top: 24px;
    padding-bottom: 12px;
}

.card_days_form {
    font-size: 15;
    font-weight: 800;
}

.card_header {
    display: flex;
    align-items: center;
}

/* -------------- Toggle -------------- */
.toggle_detail_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.toggle_detail_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 40px;
}

.toggle_eventlist_box {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.checked_selector_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
    margin-right: 10px;
    padding: 5px;
}

.eventlist_box {
    width: 100%;
    height: 92%;
    overflow: auto;
    margin-top: 20px;
}

.event_iconmenu_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_title_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.event_detail_box {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding-left: 42px
}

.toggle_create_box {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------------- PopOver -------------- */
.popover_message {
    padding: 12px 12px 4px 12px;
}
.popover-button-group {
    display: flex;
    justify-content: center;
    padding: 4px;
}